div{
	-webkit-text-size-adjust: 100%; 
	font-size: 1em;
	text-indent: 2em;
	font-family: 黑体, SimHei;
}
.child_editable{
	font-size: 1.2em;
}
.child_editable div{
    display: inline-block;
	-webkit-user-select: auto;
	text-indent: 0;
}
.d-title{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
	text-indent: 0;
}
#debt{
	text-align: center;
	text-indent: 0;
	font-size: 1.6em;
}
#tip{
	color:red;
}